// Styling for the navbar
#mainNav {
  padding: 1rem;
  border-bottom: 1px solid fade-out($gray-900, .9);
  background-color: $black;
  @include heading-font;
  @include transition-all;
  .navbar-brand {
    background-image: url("../img/logo.png");
    background-size: cover;
    max-width: 100%;
    height: 4rem;
    font-size: 1.75rem;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    @include heading-font;
    &:focus,
    &:hover {
      color: $white;
    }
  }
  .navbar-nav {
    > li.nav-item {
       > a.nav-link,
      > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $gray-900;
        &:hover {
          color: $white;
        }
        &.active {
          color: $primary !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    border-color: transparent;
    background-color: transparent;
    .navbar-brand {
      background-image: url("../img/logo.png");
      background-size: cover;
      max-width: 100%;
      height: 4rem;
      font-size: 1.5rem;
      display: block;
      color: $white;
      &:focus,
      &:hover {
        color: $primary;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: $white;
      &:hover {
        color: $primary;
      }
    }
    &.navbar-shrink {
      padding: 0;
      border-bottom: 1px solid fade-out($gray-900, .9);
      background-color: $black;
      .navbar-brand {
        color: $primary;
        &:focus,
        &:hover {
          color: $primary;
        }
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        color: $white;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .a-logo {
    width: 7.5rem;
    color: #FFF;
  }
}
